.searchBar {
  width: 245px;
  margin: 40px auto;
  color: hsl(210, 24%, 16%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.submitButton {
  border-radius: 12px;
  border: none;
  text-decoration: none;
  background-color: #8b0000;
  cursor: pointer;
  color: #dadad9;
  font-size: 16px;
}

.inputField {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #8b0000;
  color: hsl(210, 24%, 16%);
}

.filterButton {
  border-radius: 12px;
  border: none;
  text-decoration: none;
  background-color: #8b0000;
  cursor: pointer;
  color: #dadad9;
}