.searchBar {
  width: 245px;
  margin: 40px auto;
  color: hsl(210, 24%, 16%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.submitButton {
  border-radius: 12px;
  border: none;
  text-decoration: none;
  background-color: black;
  cursor: pointer;
  color: #dadad9;
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.inputField {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  color: black;
  margin-left: 30px;
  font-size: medium;
  font-weight: bold;
}

.filterButton {
  border-radius: 12px;
  border: none;
  text-decoration: none;
  background-color: black;
  cursor: pointer;
  color: #dadad9;
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
}